<footer>
    <div class="footer">
        <p>© 2005-2021 Individual contributors. Made by Awesome People.</p>
        <ul class="footer-list">
            <li class="footer-list-item">
                Terms
            </li>
            <li class="footer-list-item">
                Privacy
            </li>
        </ul>
    </div>
</footer>