<meta charset="UTF-8">
<title>EJS Playground</title>

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">

<style>
  *, ::after, ::before {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
  }
  a, a:hover, a:visited {
    text-decoration: none;
    outline: 0;
    color: inherit;
  }
  .display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    width: 50%;
    border-radius: 0.5rem;
  }
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  .card {
    flex: 1;
    min-width: 350px;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
  }

  /* Navbar START */
  .header {
    color: #fff;
    background-color: #319197;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 17px 0 rgb(51 51 51 / 10%);
  }
  .header-logo {
    margin-left: 130px;
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-left: 130px;
    margin-right: 130px;
  }
  .nav-item {
    font-size: .9rem;
    font-weight: 500;
    list-style: none;
    margin: 0px 15px;
  }
  .nav-item a {
    position: relative;
  }
  .menu-active a {
    font-weight: 700;
  }
  .menu-active a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 6px;
    left: calc(50% - 3px);
    top: 100%;
  }

  @media only screen and (max-device-width : 768px) {
    /* .navbar {
      display: none !important;
    } */
    .header nav {
      display: none !important;
    }
  }
  /* Navbar END */
  .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .modal-body img {
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border-radius: 10px;
  }
  
  

  /* Main-Content START */
  .main-content {
    display: flex;
    padding: 0px 130px;
    /* background-color: #f3f3f3; */
    height: 400px;
  }

  @media only screen and (min-device-width : 768px) {
    .main-content {
      height: calc(100vh - 150px);
    }

    .c_get_started_button {
      font-size: 16px !important;
    }
  }

  .main-content .main-left-content,.main-right-content {
    flex: 1;
    padding: 5px;
  }
  .main-content .main-left-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c_get_started_button {
    cursor: pointer;
    color: #fff;
    border: 1px solid #5b5b76;
    border-radius: 125px;
    background-color: #686974;
    font-size: 13px;
    padding: 10px 20px;
  }

  .c_get_started_button:hover {
    box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.57);
-webkit-box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.57);
  }
  /* Main-Content END */

  /* Features Content START */
  .features {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 15px 80px;
    background-color: #f3f3f3;
  }
  .h2-container {
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .h2-style {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  .features-content {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1200px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto; */
  }
  .features-list {
    display: grid;
    overflow: visible;
    grid-auto-columns: 1fr;
    grid-column-gap: 31px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .features-list-item {
    width: 100%;
    padding: 20px 20px 40px;
    border: 3px solid #f6f7fa;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #333;
    text-decoration: none;
  }
  .text-orange {
    color: #ff8364 !important;
  }
  .text-gray {
    color: gray;
  }

  @media screen and (max-width: 767px) {
    .features-list {
      -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
      -ms-grid-rows: auto auto auto !important;
      grid-template-rows: auto auto auto !important;
    }
  }
  /* Features Content END */

  /* Footer START */
  .footer {
    color: #fff;
    background-color: #005282;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .footer-list-item {
    display: inline;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
  }

  /* Footer END */

  /* Teams main-content */
  .teams-main-content {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 15px 80px;
    background-color: #f3f3f3;
  }
</style>
