<meta charset="UTF-8">
<title>EJS Playground</title>

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

<style>
  body {
    padding-top:50px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    line-height: 25px;
  }
</style>
