<ul class="navbar">
  <li>
    <a class="<%= activeLocation === 'home' ? 'active' : '' %>" href="/">Home</a>
  </li>
  <li>
    <a class="<%= activeLocation === 'about' ? 'active' : '' %>" href="/about">About</a>
  </li>
</ul>
