<ul class="navbar">
  <li>
    <a class="<%= activeLocation === 'home' ? 'active' : '' %>" href="/">Home</a>
  </li>
  <li>
    <a class="<%= activeLocation === 'about' ? 'active' : '' %>" href="/about">About</a>
  </li>
</ul>
<style>
  .navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .navbar li {
    list-style: none;
    padding: 2px;
  }
  .navbar li a {
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    color: #000;
  }

  .navbar li a:hover {
    background-color: #eee;
    border-radius: 6px;
  }

  .active {
    background-color: #eee;
    border-radius: 6px;
  }
</style>