<div class="modal" id="<%= feature.id %>">
    <div class="modal-content" onclick="event.stopPropagation()">
        <div class="modal-body">
            <img src="https://picsum.photos/200" alt="Random Pic">
            <div >
                <h1 style="margin-top: 0px"><%= feature.name %>!</h1>
                <p><%= feature.description %></p>
            </div>
        </div>
    </div>
</div>
