<div class="team-modal" id="<%= feature.id %>">
    <div class="modal-content" onclick="event.stopPropagation()">
        <h1><%= feature.name %>!</h1>
        <p><%= feature.description %></p>
    </div>
</div>
