<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {activeLocation: 'about'}); %>
</header>

<main>
  <h1>About Page</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate in quisquam suscipit sunt sed optio sint consequatur perferendis temporibus aliquid, ea unde sequi recusandae voluptatum quod eum error ad fugiat.</p>
</main>
</body>
</html>
