<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', pageTitle); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', path); %>
</header>

  <main>
    <% let selectedSection = 'first'%>
    <div class="features">
      <% if (selectedSection === 'first') { %>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate in quisquam suscipit sunt sed optio sint consequatur perferendis temporibus aliquid, ea unde sequi recusandae voluptatum quod eum error ad fugiat.</p>
      <% } if (selectedSection === 'second') { %>
        <h1>SAIO</h1>
      <% } %>
      <button onclick="selectSection()">Select Section</button>

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

<script>
  function selectSection() {
      let selectedSection = '<%= selectedSection %>';
      selectedSection = selectedSection === 'first' ? 'second' : 'first';
      console.log(selectedSection);
  }
</script>
</body>
</html>
